.container {
    border: 5px solid #ffc5cc;
    display: flex;
    height: 100vh;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}

.home {
    background-color: cyan;
    /* align-self: flex-end; */
}

.logout {
    background-color: greenyellow;
    /* align-self: flex-start; */
}

.about {
    background-color: grey;
}

.search {
    background-color: blueviolet;
}

/* 
.container > div {
    flex: 1;
    font-size: larger;
} */


/* .container > .logout {
    flex: 1
}

.container > .home {
    flex: 1
} */